* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: rgb(250, 227, 227);
}

body {
  margin: 0 auto;
  width: 90%;
  background-color: rgb(153, 145, 145);
}

.form-style {
  background-color: grey;
  padding: 30px;
}

.form-style > div {
  max-width: 600px;
}

button + button {
  margin-left: 15px;
}
